<%- include('_header.ejs')%>
<h2>
  <%=pageTitle%>
</h2>
<p>Welcome to the Berlin Mongoose Conference.</p>
<p>Our conference features <%=speakers.length%> presenters and <%=presentations.length %> presentations </p>
<%- include('_footer.ejs')%>